<div class="card md-auto col-md-12">
  <div class="row">
    <div class="col-md-4 my-4">
      {{#if user.image}}
        <img
          class="card-img-top"
          style="object-fit: cover;width: 300px;height: 300px"
          src={{user.image}}
        />
      {{else}}
        <div style="height:100%;display:flex;width:100%">
          <i class="fas fa-camera-retro fa-5x m-auto"></i>
        </div>
      {{/if}}
    </div>
    <div class="card-body col-md-8">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text">{{user.email}}</p>
      <p class="card-text">{{#count comments}}{{/count}} 已評論餐廳</p>
      {{#if user.isEditable}}
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
      {{/if}}
    </div>
  </div>
</div>
<div
  class="card md-auto col-md-12 mt-4"
  style="padding: 0; height:fit-content "
>
  <div class="card-header">
    {{#count comments}}{{/count}}
    已評論餐廳
  </div>
  <div class="row mx-2">
    {{#each comments}}

      <a
        href="/restaurants/{{this.Restaurant.id}}"
        class="col-md-2 my-4"
        style="max-height: 100px;"
      >
        <img
          src={{this.Restaurant.image}}
          style="width:100%;xobject-fix:cover"
        />
      </a>
    {{/each}}
  </div>
</div>